* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-image: linear-gradient(-315deg, #7afcff 40%,#41b6d7 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ========== Start my CSS ===== */
form {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  width: 200px;
  margin: 1% 0;
  border: 1px solid black;
  border-radius: 4px;
}

label {
  display: flex;
  flex-direction: column;
}

button {
  margin: 2% 0;
  padding: 1% 5%;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  border: 1px solid grey;
  background-color: #ff65a3;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background:  rgb(46, 182, 228);
}

button:active {
  background-color: #ff65a3;
}

.notes-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 0;
}

.note {
  width: 49%;
  margin: 0.5% 0;
  padding: 0.5% 0;
  border: 1px solid black;
  background-color: #ffff88;
}

.complete {
  background-color: crimson;
  text-decoration: line-through;
}