.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ========== Start my CSS ========== */
* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: rebeccapurple;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
}

input {
  font-size: 1.5rem;
  border-radius: 5px;
}

.todo-container {
  width: 95%;
  margin: 2% auto 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo {
  width: 48%;
  margin: 0.5% 0;
  background-color: dodgerblue;
}